/* Pixel Perfect Screen Shot https://disk.yandex.com/i/8VbPDSGUaekzbA */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  place-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  block-size: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

 /* ПОЗИЦИОНИРУЕМ КОНТЕНТ */

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin: auto;
  inline-size: 1140px;
}

/* СТИЛИ СЕКЦИИ .result */

.result {
  inline-size: 711px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 386px;
}

/* стили .search-form */

.search-form__fieldset {
  border: 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  margin-block-start: 5px;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  margin-inline-end: 5px;
  border: 1px solid #fff;
  padding: 1px;
  block-size: 19px;
  inline-size: 19px;
}

.search-form__checkbox:checked ~.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  background-color: #fff;
  inline-size: 100%;
  block-size: 100%;
}

.search-form__checkbox:hover ~.search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

/* СТИЛИ СЕКЦИИ .content__details */

.content__details {
  padding-top: 10px;
  inline-size: 398px;
}

.content__list {
  position: relative;
  padding-block-start: 2px;
  overflow: auto;
  block-size: 298px;
}

/* добавление padding на последний li для отображения outline при focus-visible */
.content__list > li:last-child {
  padding: 2px;
}

/* стили .title */
.title {
  margin-block-end: 26px;
  vertical-align: baseline;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  line-height: 94%;
}

/* стили .content__list-item */

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__card-link {
  display: block;
  margin: 0 2px;
  padding: 2px;
  outline: none;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  min-inline-size: 194px;
  block-size: 103px;
}

.more-button {
  inline-size: 100%;
}
